# [programaembd]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [programaembd]    Script Date: 29/04/2021 3:06:18 p. m. ******/
CREATE DATABASE [programaembd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'programaembd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\programaembd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'programaembd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\programaembd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [programaembd] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [programaembd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [programaembd] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [programaembd] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [programaembd] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [programaembd] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [programaembd] SET ARITHABORT OFF 
GO
ALTER DATABASE [programaembd] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [programaembd] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [programaembd] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [programaembd] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [programaembd] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [programaembd] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [programaembd] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [programaembd] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [programaembd] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [programaembd] SET  DISABLE_BROKER 
GO
ALTER DATABASE [programaembd] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [programaembd] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [programaembd] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [programaembd] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [programaembd] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [programaembd] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [programaembd] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [programaembd] SET RECOVERY FULL 
GO
ALTER DATABASE [programaembd] SET  MULTI_USER 
GO
ALTER DATABASE [programaembd] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [programaembd] SET DB_CHAINING OFF 
GO
ALTER DATABASE [programaembd] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [programaembd] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [programaembd] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [programaembd] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'programaembd', N'ON'
GO
ALTER DATABASE [programaembd] SET QUERY_STORE = OFF
GO

# [dbo].[AbonoDeVentas]

In [0]:
USE [programaembd]
GO

In [0]:
/****** Object:  Table [dbo].[AbonoDeVentas]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbonoDeVentas](
	[NFactura] [nchar](100) NOT NULL,
	[Fecha] [nchar](100) NULL,
	[FechaFactura] [nchar](100) NULL,
	[CodCliente] [nchar](100) NULL,
	[Cliente] [nchar](100) NULL,
	[ContadoOCredito] [nchar](100) NULL,
	[Vencimiento] [nchar](100) NULL,
	[Total] [nchar](100) NULL,
	[Saldo] [nchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[AbonosCompras]

In [0]:
/****** Object:  Table [dbo].[AbonosCompras]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbonosCompras](
	[Consecutivo] [nchar](100) NOT NULL,
	[RC] [nchar](50) NULL,
	[Fecha] [nchar](10) NULL,
	[FechaFactura] [nchar](10) NULL,
	[CodProveedor] [nchar](100) NULL,
	[Proveedor] [nchar](100) NULL,
	[ContadoOCredito] [nchar](100) NULL,
	[FechaVencimiento] [nchar](100) NULL,
	[Abono] [nchar](100) NULL,
	[Saldo] [nchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[AbonosDeCompras]

In [0]:
/****** Object:  Table [dbo].[AbonosDeCompras]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbonosDeCompras](
	[Consecutivo] [nchar](100) NOT NULL,
	[FechaFactura] [nchar](100) NULL,
	[CodProveedor] [nchar](100) NULL,
	[Proveedor] [nchar](100) NULL,
	[ContadoOCredito] [nchar](100) NULL,
	[Vencimiento] [nchar](100) NULL,
	[Total] [nchar](100) NULL,
	[Saldo] [nchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[AbonosVentas]

In [0]:
/****** Object:  Table [dbo].[AbonosVentas]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbonosVentas](
	[Consecutivo] [nchar](10) NOT NULL,
	[RC] [nchar](10) NULL,
	[Fecha] [date] NULL,
	[FechaFactura] [nchar](10) NULL,
	[CodCliente] [nchar](10) NULL,
	[Cliente] [nchar](10) NULL,
	[ContadoOCredito] [nchar](10) NULL,
	[FechaVencimiento] [nchar](10) NULL,
	[Abono] [nchar](10) NULL,
	[Saldo] [nchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[Alistados]

In [0]:
/****** Object:  Table [dbo].[Alistados]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alistados](
	[NPedido] [nchar](50) NOT NULL,
	[Cliente] [nchar](100) NULL,
	[Cantidad] [real] NULL,
	[Cod] [nchar](100) NULL,
	[Descripción] [nchar](100) NULL,
	[Inventario] [nchar](100) NULL,
	[Posición] [nchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[Categoria]

In [0]:
/****** Object:  Table [dbo].[Categoria]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Categoria] [nchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[Clientes]

In [0]:
/****** Object:  Table [dbo].[Clientes]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Cod] [nchar](100) NOT NULL,
	[Nit] [nchar](100) NULL,
	[Ferreteria] [nchar](100) NULL,
	[Contacto] [nchar](100) NULL,
	[Telefono] [nchar](100) NULL,
	[Cel] [nchar](100) NULL,
	[Email] [nchar](100) NULL,
	[Direccion] [nchar](100) NULL,
	[Barrio] [nchar](100) NULL,
	[Ruta] [nchar](100) NULL,
	[Vendedor] [nchar](100) NULL,
	[CodVendedor] [nchar](100) NULL,
	[Nota] [nchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[Colaboradores]

In [0]:
/****** Object:  Table [dbo].[Colaboradores]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colaboradores](
	[Cod] [nchar](100) NOT NULL,
	[Nombre] [nchar](100) NULL,
	[Apellido] [nchar](100) NULL,
	[Cargo] [nchar](100) NULL,
	[Telefono] [nchar](100) NULL,
	[Cel] [nchar](100) NULL,
	[Email] [nchar](100) NULL,
	[Direccion] [nchar](100) NULL,
	[Nota] [nchar](1000) NULL
) ON [PRIMARY]
GO

# [dbo].[Entradas]

In [0]:
/****** Object:  Table [dbo].[Entradas]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entradas](
	[Consecutivo] [nchar](100) NOT NULL,
	[NFacrura] [nchar](100) NULL,
	[CodProveedor] [nchar](100) NULL,
	[Proveedor] [nchar](100) NULL,
	[Cantidad] [real] NULL,
	[Codigo] [nchar](100) NULL,
	[Descripción] [nchar](100) NULL,
	[Costo] [nchar](100) NULL,
	[Total] [nchar](100) NULL,
	[CostoLP] [nchar](100) NULL,
	[Fecha] [nchar](100) NULL,
	[FechaFactura] [nchar](100) NULL,
	[FechaVencimiento] [nchar](100) NULL,
	[Dias] [nchar](100) NULL,
	[IVA] [nchar](100) NULL,
	[RTF] [nchar](100) NULL,
	[CodResponsable] [nchar](100) NULL,
	[Responsable] [nchar](100) NULL,
	[ContadoCredito] [nchar](100) NULL,
	[Hora] [nchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[Ingresados]

In [0]:
/****** Object:  Table [dbo].[Ingresados]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingresados](
	[N De Pedido] [nchar](10) NULL,
	[Cliente] [nchar](100) NULL,
	[Fecha O de Pedido] [nchar](10) NULL,
	[Fecha de entrega] [nchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[IngresoProductos]

In [0]:
/****** Object:  Table [dbo].[IngresoProductos]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngresoProductos](
	[Consecutivo] [nchar](50) NOT NULL,
	[NFactura] [nchar](100) NULL,
	[CodProveedor] [nchar](100) NULL,
	[Proveedor] [nchar](100) NULL,
	[Cantidad] [real] NULL,
	[Codigo] [nchar](100) NULL,
	[Producto] [nchar](100) NULL,
	[Costo] [nchar](100) NULL,
	[Total] [nchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[ListaDeProductos]

In [0]:
/****** Object:  Table [dbo].[ListaDeProductos]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaDeProductos](
	[Cod] [nchar](10) NOT NULL,
	[Descripcion] [nchar](30) NULL,
	[Uni/Paq] [nchar](10) NULL,
	[NUni/paq] [nchar](10) NULL,
	[Categoria] [nchar](10) NULL,
	[SubCategoria] [nchar](10) NULL,
	[PCosto] [real] NULL,
	[PVenta] [real] NULL,
	[PorGanancia] [real] NULL,
	[Proovedor] [nchar](30) NULL,
	[Ubicación] [nchar](10) NULL,
	[Minimo] [int] NULL,
	[Maximo] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[OtrosProveedores]

In [0]:
/****** Object:  Table [dbo].[OtrosProveedores]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtrosProveedores](
	[Cod] [nchar](100) NULL,
	[CodP] [nchar](100) NULL,
	[Proveedor] [nchar](100) NULL,
	[PCosto] [nchar](100) NULL,
	[Cantidad] [nchar](50) NULL,
	[Ganancia] [nchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[Productos]

In [0]:
/****** Object:  Table [dbo].[Productos]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Cod] [nchar](100) NOT NULL,
	[Descripción] [nchar](100) NULL,
	[UnidadOpaquete] [nchar](10) NULL,
	[Unidad/paquete] [nchar](10) NULL,
	[Categoria] [nchar](100) NULL,
	[Sub-Categoria] [nchar](100) NULL,
	[CodProovedor] [nchar](100) NULL,
	[Proovedor] [nchar](100) NULL,
	[PCosto] [nchar](50) NULL,
	[PVenta] [nchar](50) NULL,
	[Ganancia] [nchar](50) NULL,
	[PVenta1] [nchar](50) NULL,
	[Ganancia1] [nchar](50) NULL,
	[Pventa2] [nchar](50) NULL,
	[Ganancia2] [nchar](50) NULL,
	[Ubicación] [nchar](20) NULL,
	[Cantidad] [int] NULL,
	[Minimo] [int] NULL,
	[Maximo] [int] NULL,
	[Nota] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Proovedor]

In [0]:
/****** Object:  Table [dbo].[Proovedor]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proovedor](
	[Cod] [nchar](30) NOT NULL,
	[Proovedor] [nchar](30) NULL,
	[Contacto] [nchar](30) NULL,
	[Telefono] [nchar](30) NULL,
	[Cel] [nchar](30) NULL,
	[Email] [nchar](30) NULL,
	[Web] [nchar](30) NULL,
	[Direccion] [nchar](30) NULL,
	[Ruta] [nchar](30) NULL
) ON [PRIMARY]
GO

# [dbo].[Proovedores]

In [0]:
/****** Object:  Table [dbo].[Proovedores]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proovedores](
	[Cod] [nchar](100) NOT NULL,
	[NIt] [nchar](100) NULL,
	[Proovedor] [nchar](100) NULL,
	[Contacto] [nchar](100) NULL,
	[Telefono] [nchar](100) NULL,
	[Cel] [nchar](100) NULL,
	[Email] [nchar](100) NULL,
	[Web] [nchar](100) NULL,
	[Direccion] [nchar](100) NULL,
	[Ruta] [nchar](100) NULL,
	[Nota] [nchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[Salidas]

In [0]:
/****** Object:  Table [dbo].[Salidas]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salidas](
	[NDePedido] [nchar](100) NOT NULL,
	[ODePedido] [nchar](100) NULL,
	[Cantidad] [real] NULL,
	[Codigo] [nchar](100) NULL,
	[Descipción] [nchar](100) NULL,
	[VrUnitario] [nchar](100) NULL,
	[VrTotal] [nchar](100) NULL,
	[VrUnitarioIVA] [nchar](100) NULL,
	[IVA] [nchar](100) NULL,
	[VrTotalIVA] [nchar](100) NULL,
	[Costo] [nchar](100) NULL,
	[CostoTotal] [nchar](100) NULL,
	[Ganancia] [nchar](100) NULL,
	[Porcentaje] [nchar](100) NULL,
	[Categoria] [nchar](100) NULL,
	[SubCategoria] [nchar](100) NULL,
	[Proveedor] [nchar](100) NULL,
	[CodCliente] [nchar](100) NULL,
	[Cliente] [nchar](100) NULL,
	[CodColaborador] [nchar](100) NULL,
	[Colaborador] [nchar](100) NULL,
	[FechaOPedido] [nchar](100) NULL,
	[FechaEntrega] [nchar](100) NULL,
	[TipoDePago] [nchar](100) NULL,
	[FechaDeIngreso] [nchar](100) NULL,
	[Hora] [nchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[SubCategorias]

In [0]:
/****** Object:  Table [dbo].[SubCategorias]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategorias](
	[SubCategoria] [nchar](20) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[TablaDeEstados]

In [0]:
/****** Object:  Table [dbo].[TablaDeEstados]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaDeEstados](
	[NDePedido] [nchar](100) NOT NULL,
	[CodCliente] [nchar](100) NULL,
	[Cliente] [nchar](100) NULL,
	[FechaFactura] [nchar](100) NULL,
	[Valor] [nchar](100) NULL,
	[TipoDePago] [nchar](20) NULL,
	[Estado] [nchar](100) NULL,
	[ValorFinal] [nchar](10) NULL,
	[FechaDeEstado] [nchar](100) NULL,
	[FechaDeEntrega] [nchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[TablaDeIngresados]

In [0]:
/****** Object:  Table [dbo].[TablaDeIngresados]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaDeIngresados](
	[NDePedido] [nchar](100) NOT NULL,
	[ODePedido] [nchar](100) NULL,
	[Cantidad] [real] NULL,
	[Codigo] [nchar](100) NULL,
	[Descripción] [nchar](100) NULL,
	[VrUnitario] [nchar](100) NULL,
	[VrTotal] [nchar](100) NULL,
	[VrUnitarioIVA] [nchar](100) NULL,
	[IVA] [nchar](100) NULL,
	[VrTotalIVA] [nchar](100) NULL,
	[Costo] [nchar](100) NULL,
	[CostoTotal] [nchar](100) NULL,
	[Ganancia] [nchar](100) NULL,
	[Porcentaje] [nchar](100) NULL,
	[Categoria] [nchar](100) NULL,
	[SubCategoria] [nchar](100) NULL,
	[Proveedor] [nchar](100) NULL,
	[CodCliente] [nchar](100) NULL,
	[Cliente] [nchar](100) NULL,
	[CodColaborador] [nchar](100) NULL,
	[Colaborador] [nchar](100) NULL,
	[FechaOPedido] [nchar](100) NULL,
	[FechaEntrega] [nchar](100) NULL,
	[TipoDePago] [nchar](100) NULL,
	[Ubicación] [nchar](10) NULL,
	[Hora] [nchar](20) NULL
) ON [PRIMARY]
GO

# [dbo].[TablaDeVerificacion]

In [0]:
/****** Object:  Table [dbo].[TablaDeVerificacion]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaDeVerificacion](
	[NDePedido] [nchar](100) NULL,
	[CodCliente] [nchar](100) NULL,
	[Cliente] [nchar](100) NULL,
	[FechaFactura] [nchar](100) NULL,
	[Valor] [nchar](100) NULL,
	[Estado] [nchar](100) NULL,
	[FechaDeEstado] [nchar](100) NULL
) ON [PRIMARY]
GO

# [dbo].[Ubicaciones]

In [0]:
/****** Object:  Table [dbo].[Ubicaciones]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[Ubicación] [nchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[Verificados]

In [0]:
/****** Object:  Table [dbo].[Verificados]    Script Date: 29/04/2021 3:06:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verificados](
	[NDePedido] [nchar](100) NOT NULL,
	[ODePedido] [nchar](100) NULL,
	[Cantidad] [real] NULL,
	[Codigo] [nchar](100) NULL,
	[Descripción] [nchar](100) NULL,
	[VrUnitario] [nchar](100) NULL,
	[VrTotal] [nchar](100) NULL,
	[VrUnitarioIVA] [nchar](100) NULL,
	[IVA] [nchar](100) NULL,
	[VrTotalIVA] [nchar](100) NULL,
	[Costo] [nchar](100) NULL,
	[CostoTotal] [nchar](100) NULL,
	[Ganancia] [nchar](100) NULL,
	[Porcentaje] [nchar](100) NULL,
	[Categoria] [nchar](100) NULL,
	[SubCategoria] [nchar](100) NULL,
	[Proveedor] [nchar](100) NULL,
	[CodCliente] [nchar](100) NULL,
	[Cliente] [nchar](100) NULL,
	[CodColaborador] [nchar](100) NULL,
	[Colaborador] [nchar](100) NULL,
	[FechaOPedido] [nchar](100) NULL,
	[FechaEntrega] [nchar](100) NULL,
	[TipoDePago] [nchar](100) NULL,
	[Ubicación] [nchar](10) NULL,
	[Hora] [nchar](20) NULL,
	[Estado] [nchar](10) NULL,
	[ConOSinIVA] [nchar](10) NULL
) ON [PRIMARY]
GO

# [dbo].[AbonoDeVentas]

In [0]:
INSERT [dbo].[AbonoDeVentas] ([NFactura], [Fecha], [FechaFactura], [CodCliente], [Cliente], [ContadoOCredito], [Vencimiento], [Total], [Saldo]) VALUES (N'25                                                                                                  ', N'15/03/2021                                                                                          ', N'15/03/2021                                                                                          ', N'123987                                                                                              ', N'P&B                                                                                                 ', N'Contado                                                                                             ', N'15/03/2021                                                                                          ', N'144.160,00                                                                                          ', N'0                                                                                                   ')
INSERT [dbo].[AbonoDeVentas] ([NFactura], [Fecha], [FechaFactura], [CodCliente], [Cliente], [ContadoOCredito], [Vencimiento], [Total], [Saldo]) VALUES (N'32                                                                                                  ', N'15/03/2021                                                                                          ', N'15/03/2021                                                                                          ', N'12345678                                                                                            ', N'quien sabe                                                                                          ', N'Contado                                                                                             ', N'15/03/2021                                                                                          ', N'25.300,00                                                                                           ', N'0                                                                                                   ')
GO

# [dbo].[AbonosCompras]

In [0]:
INSERT [dbo].[AbonosCompras] ([Consecutivo], [RC], [Fecha], [FechaFactura], [CodProveedor], [Proveedor], [ContadoOCredito], [FechaVencimiento], [Abono], [Saldo]) VALUES (N'1                                                                                                   ', N'1                                                 ', N'1/03/2021 ', N'19/02/2021', N'121212                                                                                              ', N'El que vende                                                                                        ', N'credito                                                                                             ', N'19/02/2021                                                                                          ', N'200,00                                                                                              ', N'1.500,00                                                                                            ')
INSERT [dbo].[AbonosCompras] ([Consecutivo], [RC], [Fecha], [FechaFactura], [CodProveedor], [Proveedor], [ContadoOCredito], [FechaVencimiento], [Abono], [Saldo]) VALUES (N'10                                                                                                  ', N'456                                               ', N'8/03/2021 ', N'19/02/2021', N'121212                                                                                              ', N'El que vende                                                                                        ', N'credito                                                                                             ', N'19/02/2021                                                                                          ', N'5.000,00                                                                                            ', N'1.000,00                                                                                            ')
GO

# [dbo].[Alistados]

In [0]:
INSERT [dbo].[Alistados] ([NPedido], [Cliente], [Cantidad], [Cod], [Descripción], [Inventario], [Posición]) VALUES (N'                                                  ', N'La Fortaleza                                                                                        ', 10, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'17                                                                                                  ', N'          ')
INSERT [dbo].[Alistados] ([NPedido], [Cliente], [Cantidad], [Cod], [Descripción], [Inventario], [Posición]) VALUES (N'                                                  ', N'La Fortaleza                                                                                        ', 3, N'cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'17                                                                                                  ', N'A1        ')
INSERT [dbo].[Alistados] ([NPedido], [Cliente], [Cantidad], [Cod], [Descripción], [Inventario], [Posición]) VALUES (N'                                                  ', N'La Fortaleza                                                                                        ', 5, N'cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'17                                                                                                  ', N'          ')
INSERT [dbo].[Alistados] ([NPedido], [Cliente], [Cantidad], [Cod], [Descripción], [Inventario], [Posición]) VALUES (N'                                                  ', N'La Fortaleza                                                                                        ', 5, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'17                                                                                                  ', N'          ')
INSERT [dbo].[Alistados] ([NPedido], [Cliente], [Cantidad], [Cod], [Descripción], [Inventario], [Posición]) VALUES (N'                                                  ', N'                                                                                                    ', 5, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'17                                                                                                  ', N'          ')
GO

# [dbo].[Categoria]

In [0]:
INSERT [dbo].[Categoria] ([Categoria]) VALUES (N'Griferia            ')
INSERT [dbo].[Categoria] ([Categoria]) VALUES (N'Tornilleria         ')
INSERT [dbo].[Categoria] ([Categoria]) VALUES (N'Carpinteria         ')
INSERT [dbo].[Categoria] ([Categoria]) VALUES (N'ELECTRICOS          ')
INSERT [dbo].[Categoria] ([Categoria]) VALUES (N'Hornamentación      ')
GO

# [dbo].[Clientes]

In [0]:
INSERT [dbo].[Clientes] ([Cod], [Nit], [Ferreteria], [Contacto], [Telefono], [Cel], [Email], [Direccion], [Barrio], [Ruta], [Vendedor], [CodVendedor], [Nota]) VALUES (N'12345678                                                                                            ', N'                                                                                                    ', N'quien sabe                                                                                          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', NULL, NULL, NULL)
INSERT [dbo].[Clientes] ([Cod], [Nit], [Ferreteria], [Contacto], [Telefono], [Cel], [Email], [Direccion], [Barrio], [Ruta], [Vendedor], [CodVendedor], [Nota]) VALUES (N'12345                                                                                               ', N'm12345                                                                                              ', N'La Fortaleza                                                                                        ', N'Melqui                                                                                              ', N'79009377                                                                                            ', N'322 5235894                                                                                         ', N'melchosa@gmail.com                                                                                  ', N'trasversar no me la se 71                                                                           ', N'La fiscala                                                                                          ', N'usme                                                                                                ', N'Leo                                                                                                 ', N'                                                                                                    ', N'                                                                                                    ')
INSERT [dbo].[Clientes] ([Cod], [Nit], [Ferreteria], [Contacto], [Telefono], [Cel], [Email], [Direccion], [Barrio], [Ruta], [Vendedor], [CodVendedor], [Nota]) VALUES (N'123987                                                                                              ', N'M1234567890                                                                                         ', N'P&B                                                                                                 ', N'William Sierra Rocha                                                                                ', N'1234567                                                                                             ', N'311 1234567                                                                                         ', N'william@gmail.com                                                                                   ', N'transversal ni idea                                                                                 ', N'La fiscala                                                                                          ', N'usme                                                                                                ', N'Leo                                                                                                 ', N'131313C                                                                                             ', N'131313C                                                                                             ')
GO

# [dbo].[Colaboradores]

In [0]:
INSERT [dbo].[Colaboradores] ([Cod], [Nombre], [Apellido], [Cargo], [Telefono], [Cel], [Email], [Direccion], [Nota]) VALUES (N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'Sierra Vargas                                                                                       ', N'Vendedora                                                                                           ', N'3194221498                                                                                          ', N'3184221498                                                                                          ', N'ferredistribuciones.sierra@gmail.com                                                                ', N'cll 71 sur  14b 78                                                                                  ', N'OTRA COSAAAAAAAAA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ')
INSERT [dbo].[Colaboradores] ([Cod], [Nombre], [Apellido], [Cargo], [Telefono], [Cel], [Email], [Direccion], [Nota]) VALUES (N'79635020                                                                                            ', N'William                                                                                             ', N'sierra rocha                                                                                        ', N'comprador                                                                                           ', N'3125250103                                                                                          ', N'3125250103                                                                                          ', N'fereterocolombiano@gmail.com                                                                        ', N'cll 71 sur # 14b - 78                                                                               ', N'                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ')
INSERT [dbo].[Colaboradores] ([Cod], [Nombre], [Apellido], [Cargo], [Telefono], [Cel], [Email], [Direccion], [Nota]) VALUES (N'1023023627                                                                                          ', N'Sebastian                                                                                           ', N'Sierra                                                                                              ', N'No se que hace                                                                                      ', N'2005544                                                                                             ', N'3227804602                                                                                          ', N'jhoanjssv@gmail.com                                                                                 ', N'Cll 71 sur N° 14 B78                                                                                ', N'esto se solo para una prueba                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ')
GO

# [dbo].[Entradas]

In [0]:
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'1                                                                                                   ', N'1                                                                                                   ', N'121212                                                                                              ', N'El que vende                                                                                        ', 1, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'1.700,00                                                                                            ', N'1.700,00                                                                                            ', N'1.700,00                                                                                            ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'Contado                                                                                             ', N'21:24:19                                                                                            ')
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'3                                                                                                   ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', 1, N'EBA05                                                                                               ', N'pasador aleman induma 1 1/2 zincado                                                                 ', N'1.200,00                                                                                            ', N'1.200,00                                                                                            ', N'1.200,00                                                                                            ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'20/02/2021                                                                                          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'08:18:58                                                                                            ')
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'3                                                                                                   ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', 5, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'1.500,00                                                                                            ', N'7.500,00                                                                                            ', N'1.700,00                                                                                            ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'20/02/2021                                                                                          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'08:18:58                                                                                            ')
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'000                                                                                                 ', N'                                                                                                    ', N'000                                                                                                 ', N'Nuevo Producto al inventario                                                                        ', 3, N'nico001                                                                                             ', N'Es una prueba para ver sid a la fehca en modo corto                                                 ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'Feb 25 2021 12:03PM                                                                                 ', N'Feb 25 2021 12:03PM                                                                                 ', N'Feb 25 2021 12:00AM                                                                                 ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'bla                                                                                                 ', N'bla                                                                                                 ', N'                                                                                                    ', N'12:03:46                                                                                            ')
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'10                                                                                                  ', N'                                                                                                    ', N'121212                                                                                              ', N'El que vende                                                                                        ', 5, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'1.200,00                                                                                            ', N'6.000,00                                                                                            ', N'1.700,00                                                                                            ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'Contado                                                                                             ', N'17:58:44                                                                                            ')
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'2                                                                                                   ', N'123                                                                                                 ', N'121212                                                                                              ', N'El que vende                                                                                        ', 10, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'1.700,00                                                                                            ', N'17.000,00                                                                                           ', N'1.700,00                                                                                            ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'                                                                                                    ', N'08:11:27                                                                                            ')
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'000                                                                                                 ', N'                                                                                                    ', N'000                                                                                                 ', N'Nuevo Producto al inventario                                                                        ', 5, N'bla01                                                                                               ', N'No tengo idea de que poner asi que pongo esto en medida 2                                           ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'Feb 24 2021 12:00AM                                                                                 ', N'Feb 24 2021 12:00AM                                                                                 ', N'Feb 24 2021 12:00AM                                                                                 ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'bla                                                                                                 ', N'bla                                                                                                 ', N'                                                                                                    ', N'19:23:14                                                                                            ')
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'000                                                                                                 ', N'                                                                                                    ', N'000                                                                                                 ', N'Nuevo Producto al inventario                                                                        ', 5, N'moco01                                                                                              ', N'Es un moco para ver si se pega a las salidas 2                                                      ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'Feb 24 2021 12:00AM                                                                                 ', N'Feb 24 2021 12:00AM                                                                                 ', N'Feb 24 2021 12:00AM                                                                                 ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'bla                                                                                                 ', N'bla                                                                                                 ', N'                                                                                                    ', N'19:29:34                                                                                            ')
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'000                                                                                                 ', N'                                                                                                    ', N'000                                                                                                 ', N'Nuevo Producto al inventario                                                                        ', 5, N'moco03                                                                                              ', N'Una cosa que hago para la prueba                                                                    ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'Feb 24 2021 12:00AM                                                                                 ', N'Feb 24 2021 12:00AM                                                                                 ', N'Feb 24 2021 12:00AM                                                                                 ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'bla                                                                                                 ', N'bla                                                                                                 ', N'                                                                                                    ', N'19:33:07                                                                                            ')
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'000                                                                                                 ', N'                                                                                                    ', N'000                                                                                                 ', N'Nuevo Producto al inventario                                                                        ', 3, N'nico002                                                                                             ', N'Cosa que me invento para la prueba                                                                  ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'25/02/2021 1:44:59 p. m.                                                                            ', N'Feb 25 2021  1:45PM                                                                                 ', N'Feb 25 2021 12:00AM                                                                                 ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'bla                                                                                                 ', N'bla                                                                                                 ', N'                                                                                                    ', N'13:45:00                                                                                            ')
INSERT [dbo].[Entradas] ([Consecutivo], [NFacrura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Descripción], [Costo], [Total], [CostoLP], [Fecha], [FechaFactura], [FechaVencimiento], [Dias], [IVA], [RTF], [CodResponsable], [Responsable], [ContadoCredito], [Hora]) VALUES (N'000                                                                                                 ', N'                                                                                                    ', N'000                                                                                                 ', N'Nuevo Producto al inventario                                                                        ', 4, N'Nico003                                                                                             ', N'Prueba de que sale la fecha como quiero                                                             ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'25/02/2021                                                                                          ', N'25/02/2021                                                                                          ', N'Feb 25 2021 12:00AM                                                                                 ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'bla                                                                                                 ', N'bla                                                                                                 ', N'                                                                                                    ', N'13:57:22                                                                                            ')
GO

# [dbo].[Ingresados]

In [0]:
INSERT [dbo].[Ingresados] ([N De Pedido], [Cliente], [Fecha O de Pedido], [Fecha de entrega]) VALUES (N'4         ', N'La Fortaleza                                                                                        ', N'15/02/2021', N'15/02/2021')
INSERT [dbo].[Ingresados] ([N De Pedido], [Cliente], [Fecha O de Pedido], [Fecha de entrega]) VALUES (N'5         ', N'quien sabe                                                                                          ', N'15/02/2021', N'15/02/2021')
INSERT [dbo].[Ingresados] ([N De Pedido], [Cliente], [Fecha O de Pedido], [Fecha de entrega]) VALUES (N'22        ', N'La Fortaleza                                                                                        ', N'5/03/2021 ', N'5/03/2021 ')
INSERT [dbo].[Ingresados] ([N De Pedido], [Cliente], [Fecha O de Pedido], [Fecha de entrega]) VALUES (N'11        ', N'La Fortaleza                                                                                        ', N'19/02/2021', N'19/02/2021')
INSERT [dbo].[Ingresados] ([N De Pedido], [Cliente], [Fecha O de Pedido], [Fecha de entrega]) VALUES (N'1         ', N'La Fortaleza                                                                                        ', N'19/02/2021', N'19/02/2021')
INSERT [dbo].[Ingresados] ([N De Pedido], [Cliente], [Fecha O de Pedido], [Fecha de entrega]) VALUES (N'6         ', N'                                                                                                    ', N'19/02/2021', N'19/02/2021')
INSERT [dbo].[Ingresados] ([N De Pedido], [Cliente], [Fecha O de Pedido], [Fecha de entrega]) VALUES (N'7         ', N'                                                                                                    ', N'19/02/2021', N'19/02/2021')
GO

# [dbo].[IngresoProductos]

In [0]:
INSERT [dbo].[IngresoProductos] ([Consecutivo], [NFactura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Producto], [Costo], [Total]) VALUES (N'3                                                 ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', 3, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'1.700,00                                                                                            ', N'5.100,00                                                                                            ')
INSERT [dbo].[IngresoProductos] ([Consecutivo], [NFactura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Producto], [Costo], [Total]) VALUES (N'4                                                 ', N'123456789                                                                                           ', N'121212                                                                                              ', N'El que vende                                                                                        ', 10, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'1.700,00                                                                                            ', N'17.000,00                                                                                           ')
INSERT [dbo].[IngresoProductos] ([Consecutivo], [NFactura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Producto], [Costo], [Total]) VALUES (N'4                                                 ', N'123456789                                                                                           ', N'121212                                                                                              ', N'El que vende                                                                                        ', 5, N'EBA05                                                                                               ', N'pasador aleman induma 1 1/2 zincado                                                                 ', N'1.300,00                                                                                            ', N'6.500,00                                                                                            ')
INSERT [dbo].[IngresoProductos] ([Consecutivo], [NFactura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Producto], [Costo], [Total]) VALUES (N'5                                                 ', N'5790                                                                                                ', N'121212                                                                                              ', N'El que vende                                                                                        ', 10, N'jm001                                                                                               ', N'Producto que aun no se                                                                              ', N'1.800,00                                                                                            ', N'18.000,00                                                                                           ')
INSERT [dbo].[IngresoProductos] ([Consecutivo], [NFactura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Producto], [Costo], [Total]) VALUES (N'5                                                 ', N'5790                                                                                                ', N'121212                                                                                              ', N'El que vende                                                                                        ', 11, N'Tor001                                                                                              ', N'tornillo que me invente para la prueba                                                              ', N'1.700,00                                                                                            ', N'18.700,00                                                                                           ')
INSERT [dbo].[IngresoProductos] ([Consecutivo], [NFactura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Producto], [Costo], [Total]) VALUES (N'1                                                 ', N'123                                                                                                 ', N'121212                                                                                              ', N'El que vende                                                                                        ', 23, N'EBA05                                                                                               ', N'pasador aleman induma 1 1/2 zincado                                                                 ', N'1.200,00                                                                                            ', N'27.600,00                                                                                           ')
INSERT [dbo].[IngresoProductos] ([Consecutivo], [NFactura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Producto], [Costo], [Total]) VALUES (N'2                                                 ', N'21                                                                                                  ', N'q123                                                                                                ', N'hj                                                                                                  ', 3, N'Tor001                                                                                              ', N'tornillo que me invente para la prueba                                                              ', N'1.700,00                                                                                            ', N'5.100,00                                                                                            ')
INSERT [dbo].[IngresoProductos] ([Consecutivo], [NFactura], [CodProveedor], [Proveedor], [Cantidad], [Codigo], [Producto], [Costo], [Total]) VALUES (N'2                                                 ', N'21                                                                                                  ', N'q123                                                                                                ', N'hj                                                                                                  ', 0, N'nosequeponer                                                                                        ', N'no tengo idea de que poner                                                                          ', N'0,00                                                                                                ', N'0,00                                                                                                ')
GO

# [dbo].[OtrosProveedores]

In [0]:
INSERT [dbo].[OtrosProveedores] ([Cod], [CodP], [Proveedor], [PCosto], [Cantidad], [Ganancia]) VALUES (N'jm001                                                                                               ', N'q123                                                                                                ', N'hj                                                                                                  ', N'1.800,00                                                                                            ', N'50,00                                             ', N'27,78                                                                                               ')
INSERT [dbo].[OtrosProveedores] ([Cod], [CodP], [Proveedor], [PCosto], [Cantidad], [Ganancia]) VALUES (N'jm001                                                                                               ', N'Pnota1                                                                                              ', N'prueba de nota 1                                                                                    ', N'1.650,00                                                                                            ', N'200,00                                            ', N'39,39                                                                                               ')
GO

# [dbo].[Productos]

In [0]:
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'Paquete   ', N'5         ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'bla123                                                                                              ', N'niidea                                                                                              ', N'1.700,00                                          ', N'2.200,00                                          ', N'29,41                                             ', N'2.300,00                                          ', N'35,29                                             ', N'2.000,00                                          ', N'17,65                                             ', N'A1                  ', 10, 2, 5, N'Prueba de modificaar el producto')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'EBA05                                                                                               ', N'pasador aleman induma 1 1/2 zincado                                                                 ', N'Unidad    ', N'1         ', N'                                                                                                    ', N'                                                                                                    ', N'q123                                                                                                ', N'hj                                                                                                  ', N'1.200,00                                          ', N'1632                                              ', N'36                                                ', NULL, NULL, NULL, NULL, N'A1                  ', 15, 14, 35, N'kdfkgmdfolgsmgd m')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'nosequeponer                                                                                        ', N'no tengo idea de que poner                                                                          ', N'          ', N'          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'1.700,00                                          ', N'2.300,00                                          ', N'35,29                                             ', NULL, NULL, NULL, NULL, N'                    ', 0, 0, 0, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'Tor001                                                                                              ', N'tornillo que me invente para la prueba                                                              ', N'          ', N'          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'1.700,00                                          ', N'2.300,00                                          ', N'35,29                                             ', NULL, NULL, NULL, NULL, N'                    ', 0, 0, 0, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'tor002                                                                                              ', N'Otro tornillo que me invente                                                                        ', N'          ', N'          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'1.700,00                                          ', N'2.300,00                                          ', N'35,29                                             ', NULL, NULL, NULL, NULL, N'                    ', 0, 0, 0, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'Tor003                                                                                              ', N'Otro tornillo mas que me invente                                                                    ', N'          ', N'          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'1.700,00                                          ', N'2.300,00                                          ', N'35,29                                             ', NULL, NULL, NULL, NULL, N'                    ', 0, 0, 0, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'jm001                                                                                               ', N'Producto que aun no se                                                                              ', N'Unidad    ', N'1         ', N'Hornamentación                                                                                      ', N'ebanisteria                                                                                         ', N'bla123                                                                                              ', N'niidea                                                                                              ', N'1.700,00                                          ', N'2.300,00                                          ', N'35,29                                             ', N'2.400,00                                          ', N'41,18                                             ', N'2.218,50                                          ', N'30,5                                              ', N'A1                  ', 100, 5, 200, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'Cab001                                                                                              ', N'Cable que me invento para la prueba                                                                 ', N'          ', N'          ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                  ', N'                                                  ', N'                                                  ', N'                                                  ', N'                                                  ', N'                                                  ', N'                                                  ', N'                    ', 0, 0, 0, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'cab002                                                                                              ', N'un cable que me estoy inventando                                                                    ', N'Unidad    ', N'1         ', N'Griferia                                                                                            ', N'Pasador aleman                                                                                      ', N'121212                                                                                              ', N'El que vende                                                                                        ', N'1.000,00                                          ', N'5.000,00                                          ', N'400                                               ', N'5.500,00                                          ', N'450                                               ', N'5.400,00                                          ', N'440                                               ', N'A2                  ', 3, 1, 5, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'esp001                                                                                              ', N'espatula imaginaria para la prueba                                                                  ', N'Unidad    ', N'1         ', N'Carpinteria                                                                                         ', N'Madera                                                                                              ', N'121212                                                                                              ', N'El que vende                                                                                        ', N'1.000,00                                          ', N'1.500,00                                          ', N'50                                                ', N'1.550,00                                          ', N'55                                                ', N'1.400,00                                          ', N'40                                                ', N'A1                  ', 15, 1, 15, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'nico001                                                                                             ', N'Es una prueba para ver sid a la fehca en modo corto                                                 ', N'Unidad    ', N'1         ', N'Griferia                                                                                            ', N'Pasador aleman                                                                                      ', N'121212                                                                                              ', N'El que vende                                                                                        ', N'1.500,00                                          ', N'2.400,00                                          ', N'60                                                ', N'2.500,00                                          ', N'66,67                                             ', N'2.350,00                                          ', N'56,67                                             ', N'A2                  ', 3, 1, 10, N'Es una prueba para ver sid a la fehca en modo corto')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'Nico003                                                                                             ', N'Prueba de que sale la fecha como quiero                                                             ', N'Unidad    ', N'1         ', N'ELECTRICOS                                                                                          ', N'Madera                                                                                              ', N'121212                                                                                              ', N'El que vende                                                                                        ', N'1.000,00                                          ', N'1.500,00                                          ', N'50                                                ', N'1.600,00                                          ', N'60                                                ', N'1.400,00                                          ', N'40                                                ', N'A2                  ', 4, 2, 20, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'esp002                                                                                              ', N'otra espatula que me estoy inventando                                                               ', N'Unidad    ', N'1         ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'121212                                                                                              ', N'El que vende                                                                                        ', N'1.000,00                                          ', N'1.500,00                                          ', N'50                                                ', N'1.600,00                                          ', N'60                                                ', N'1.400,00                                          ', N'40                                                ', N'A1                  ', 5, 3, 15, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'bla01                                                                                               ', N'No tengo idea de que poner asi que pongo esto en medida 2                                           ', N'Paquete   ', N'10        ', N'Griferia                                                                                            ', N'Madera                                                                                              ', N'121212                                                                                              ', N'El que vende                                                                                        ', N'900,00                                            ', N'1.500,00                                          ', N'66,67                                             ', N'1.600,00                                          ', N'77,78                                             ', N'1.400,00                                          ', N'55,56                                             ', N'A1                  ', 5, 2, 10, N'Esto es solamente una prueba.')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'moco01                                                                                              ', N'Es un moco para ver si se pega a las salidas 2                                                      ', N'Paquete   ', N'10        ', N'Tornilleria                                                                                         ', N'Cinta                                                                                               ', N'121212                                                                                              ', N'El que vende                                                                                        ', N'900,00                                            ', N'1.500,00                                          ', N'66,67                                             ', N'1.600,00                                          ', N'77,78                                             ', N'1.400,00                                          ', N'55,56                                             ', N'A1                  ', 5, 2, 20, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'moco03                                                                                              ', N'Una cosa que hago para la prueba                                                                    ', N'Unidad    ', N'1         ', N'Griferia                                                                                            ', N'Cinta                                                                                               ', N'121212                                                                                              ', N'El que vende                                                                                        ', N'900,00                                            ', N'1.500,00                                          ', N'66,67                                             ', N'1.600,00                                          ', N'77,78                                             ', N'1.400,00                                          ', N'55,56                                             ', N'A1                  ', 5, 3, 20, N'')
INSERT [dbo].[Productos] ([Cod], [Descripción], [UnidadOpaquete], [Unidad/paquete], [Categoria], [Sub-Categoria], [CodProovedor], [Proovedor], [PCosto], [PVenta], [Ganancia], [PVenta1], [Ganancia1], [Pventa2], [Ganancia2], [Ubicación], [Cantidad], [Minimo], [Maximo], [Nota]) VALUES (N'nico002                                                                                             ', N'Cosa que me invento para la prueba                                                                  ', N'Unidad    ', N'1         ', N'ELECTRICOS                                                                                          ', N'Madera                                                                                              ', N'bla123                                                                                              ', N'niidea                                                                                              ', N'1.000,00                                          ', N'1.500,00                                          ', N'50                                                ', N'1.600,00                                          ', N'60                                                ', N'1.400,00                                          ', N'40                                                ', N'A1                  ', 3, 2, 20, N'')
GO

# [dbo].[Proovedores]

In [0]:
INSERT [dbo].[Proovedores] ([Cod], [NIt], [Proovedor], [Contacto], [Telefono], [Cel], [Email], [Web], [Direccion], [Ruta], [Nota]) VALUES (N'121212                                                                                              ', N'111111111                                                                                           ', N'El que vende                                                                                        ', N'El vendedor                                                                                         ', N'1234567                                                                                             ', N'322 1234567                                                                                         ', N'blablabla@gmail.com                                                                                 ', N'Elquevende.com2                                                                                     ', N'cll 78 sur N° 17 B 68                                                                               ', N'usme                                                                                                ', N'                                                                                                    ')
INSERT [dbo].[Proovedores] ([Cod], [NIt], [Proovedor], [Contacto], [Telefono], [Cel], [Email], [Web], [Direccion], [Ruta], [Nota]) VALUES (N'bla123                                                                                              ', N'                                                                                                    ', N'niidea                                                                                              ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', NULL)
INSERT [dbo].[Proovedores] ([Cod], [NIt], [Proovedor], [Contacto], [Telefono], [Cel], [Email], [Web], [Direccion], [Ruta], [Nota]) VALUES (N'q123                                                                                                ', N'                                                                                                    ', N'hj                                                                                                  ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', NULL)
INSERT [dbo].[Proovedores] ([Cod], [NIt], [Proovedor], [Contacto], [Telefono], [Cel], [Email], [Web], [Direccion], [Ruta], [Nota]) VALUES (N'348290                                                                                              ', N'123654                                                                                              ', N'Willian                                                                                             ', N'AA                                                                                                  ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ')
INSERT [dbo].[Proovedores] ([Cod], [NIt], [Proovedor], [Contacto], [Telefono], [Cel], [Email], [Web], [Direccion], [Ruta], [Nota]) VALUES (N'Pnota1                                                                                              ', N'123456789-0                                                                                         ', N'prueba de nota 1                                                                                    ', N'                                                                                                    ', N'7805567                                                                                             ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'Esta es una prueba                                                                                  ')
GO

# [dbo].[Salidas]

In [0]:
INSERT [dbo].[Salidas] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descipción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [FechaDeIngreso], [Hora]) VALUES (N'1                                                                                                   ', N'123                                                                                                 ', 4, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Salidas] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descipción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [FechaDeIngreso], [Hora]) VALUES (N'000                                                                                                 ', N'                                                                                                    ', 0, N'moco03                                                                                              ', N'Una cosa que hago para la prueba                                                                    ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'Nuevo producto al inventario                                                                        ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                    ')
INSERT [dbo].[Salidas] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descipción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [FechaDeIngreso], [Hora]) VALUES (N'000                                                                                                 ', N'                                                                                                    ', 0, N'nico001                                                                                             ', N'Es una prueba para ver sid a la fehca en modo corto                                                 ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'Nuevo producto al inventario                                                                        ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                    ')
INSERT [dbo].[Salidas] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descipción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [FechaDeIngreso], [Hora]) VALUES (N'000                                                                                                 ', N'                                                                                                    ', 0, N'nico002                                                                                             ', N'Cosa que me invento para la prueba                                                                  ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'Nuevo producto al inventario                                                                        ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                    ')
INSERT [dbo].[Salidas] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descipción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [FechaDeIngreso], [Hora]) VALUES (N'000                                                                                                 ', N'                                                                                                    ', 0, N'Nico003                                                                                             ', N'Prueba de que sale la fecha como quiero                                                             ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'0                                                                                                   ', N'Nuevo producto al inventario                                                                        ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                    ')
INSERT [dbo].[Salidas] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descipción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [FechaDeIngreso], [Hora]) VALUES (N'25                                                                                                  ', N'002325                                                                                              ', 20, N'cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'44.000,00                                                                                           ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'44.000,00                                                                                           ', N'1.700,00                                                                                            ', N'34.000,00                                                                                           ', N'10.000,00                                                                                           ', N'44.000,00                                                                                           ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'123987                                                                                              ', N'P&B                                                                                                 ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'8/03/2021                                                                                           ', N'8/03/2021                                                                                           ', N'Contado                                                                                             ', N'15/03/2021                                                                                          ', N'19:33:01            ')
INSERT [dbo].[Salidas] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descipción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [FechaDeIngreso], [Hora]) VALUES (N'25                                                                                                  ', N'002325                                                                                              ', 40, N'jm001                                                                                               ', N'Producto que aun no se                                                                              ', N'2.300,00                                                                                            ', N'92.000,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'92.000,00                                                                                           ', N'1.700,00                                                                                            ', N'68.000,00                                                                                           ', N'24.000,00                                                                                           ', N'92.000,00                                                                                           ', N'Hornamentación                                                                                      ', N'ebanisteria                                                                                         ', N'niidea                                                                                              ', N'123987                                                                                              ', N'P&B                                                                                                 ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'8/03/2021                                                                                           ', N'8/03/2021                                                                                           ', N'Contado                                                                                             ', N'15/03/2021                                                                                          ', N'19:33:02            ')
INSERT [dbo].[Salidas] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descipción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [FechaDeIngreso], [Hora]) VALUES (N'25                                                                                                  ', N'002325                                                                                              ', 5, N'EBA05                                                                                               ', N'pasador aleman induma 1 1/2 zincado                                                                 ', N'1.632,00                                                                                            ', N'8.160,00                                                                                            ', N'1.371,43                                                                                            ', N'260,57                                                                                              ', N'8.160,00                                                                                            ', N'1.200,00                                                                                            ', N'6.000,00                                                                                            ', N'2.160,00                                                                                            ', N'8.160,00                                                                                            ', N'                                                                                                    ', N'                                                                                                    ', N'hj                                                                                                  ', N'123987                                                                                              ', N'P&B                                                                                                 ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'8/03/2021                                                                                           ', N'8/03/2021                                                                                           ', N'Contado                                                                                             ', N'15/03/2021                                                                                          ', N'19:33:02            ')
INSERT [dbo].[Salidas] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descipción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [FechaDeIngreso], [Hora]) VALUES (N'32                                                                                                  ', N'001                                                                                                 ', 11, N'nosequeponer                                                                                        ', N'no tengo idea de que poner                                                                          ', N'2.300,00                                                                                            ', N'25.300,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'25.300,00                                                                                           ', N'1.700,00                                                                                            ', N'18.700,00                                                                                           ', N'6.600,00                                                                                            ', N'25.300,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'12345678                                                                                            ', N'quien sabe                                                                                          ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'15/03/2021                                                                                          ', N'15/03/2021                                                                                          ', N'Contado                                                                                             ', N'15/03/2021                                                                                          ', N'19:59:52            ')
GO

# [dbo].[SubCategorias]

In [0]:
INSERT [dbo].[SubCategorias] ([SubCategoria]) VALUES (N'Cinta               ')
INSERT [dbo].[SubCategorias] ([SubCategoria]) VALUES (N'Madera              ')
INSERT [dbo].[SubCategorias] ([SubCategoria]) VALUES (N'Pasador aleman      ')
INSERT [dbo].[SubCategorias] ([SubCategoria]) VALUES (N'ebanisteria         ')
GO

# [dbo].[TablaDeEstados]

In [0]:
INSERT [dbo].[TablaDeEstados] ([NDePedido], [CodCliente], [Cliente], [FechaFactura], [Valor], [TipoDePago], [Estado], [ValorFinal], [FechaDeEstado], [FechaDeEntrega]) VALUES (N'23                                                                                                  ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'5/03/2021                                                                                           ', N'86.324,00                                                                                           ', N'Contado             ', N'Ingresado                                                                                           ', N'          ', N'5/03/2021                                                                                           ', N'5/03/2021           ')
INSERT [dbo].[TablaDeEstados] ([NDePedido], [CodCliente], [Cliente], [FechaFactura], [Valor], [TipoDePago], [Estado], [ValorFinal], [FechaDeEstado], [FechaDeEntrega]) VALUES (N'24                                                                                                  ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'8/03/2021                                                                                           ', N'50.300,00                                                                                           ', N'Contado             ', N'Ingresado                                                                                           ', N'          ', N'8/03/2021                                                                                           ', N'8/03/2021           ')
INSERT [dbo].[TablaDeEstados] ([NDePedido], [CodCliente], [Cliente], [FechaFactura], [Valor], [TipoDePago], [Estado], [ValorFinal], [FechaDeEstado], [FechaDeEntrega]) VALUES (N'25                                                                                                  ', N'123987                                                                                              ', N'P&B                                                                                                 ', N'8/03/2021                                                                                           ', N'144.160,00                                                                                          ', N'Contado             ', N'CERRADO                                                                                             ', N'          ', N'15/03/2021                                                                                          ', N'8/03/2021           ')
INSERT [dbo].[TablaDeEstados] ([NDePedido], [CodCliente], [Cliente], [FechaFactura], [Valor], [TipoDePago], [Estado], [ValorFinal], [FechaDeEstado], [FechaDeEntrega]) VALUES (N'32                                                                                                  ', N'12345678                                                                                            ', N'quien sabe                                                                                          ', N'15/03/2021                                                                                          ', N'25.300,00                                                                                           ', N'Contado             ', N'Cerrado                                                                                             ', N'25.300,00 ', N'15/03/2021                                                                                          ', N'15/03/2021          ')
INSERT [dbo].[TablaDeEstados] ([NDePedido], [CodCliente], [Cliente], [FechaFactura], [Valor], [TipoDePago], [Estado], [ValorFinal], [FechaDeEstado], [FechaDeEntrega]) VALUES (N'42                                                                                                  ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'16/03/2021                                                                                          ', N'22.000,00                                                                                           ', N'Contado             ', N'Verificado                                                                                          ', N'          ', N'16/03/2021                                                                                          ', N'16/03/2021          ')
GO

# [dbo].[TablaDeIngresados]

In [0]:
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'23                                                                                                  ', N'23000                                                                                               ', 10, N'cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'22.000,00                                                                                           ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'22.000,00                                                                                           ', N'1.700,00                                                                                            ', N'17.000,00                                                                                           ', N'5.000,00                                                                                            ', N'22.000,00                                                                                           ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'5/03/2021                                                                                           ', N'5/03/2021                                                                                           ', N'Contado                                                                                             ', N'A1        ', N'17:33:07            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'23                                                                                                  ', N'23000                                                                                               ', 23, N'Tor003                                                                                              ', N'Otro tornillo mas que me invente                                                                    ', N'2.300,00                                                                                            ', N'52.900,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'52.900,00                                                                                           ', N'1.700,00                                                                                            ', N'39.100,00                                                                                           ', N'13.800,00                                                                                           ', N'52.900,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'5/03/2021                                                                                           ', N'5/03/2021                                                                                           ', N'Contado                                                                                             ', N'          ', N'17:33:08            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'23                                                                                                  ', N'23000                                                                                               ', 7, N'EBA05                                                                                               ', N'pasador aleman induma 1 1/2 zincado                                                                 ', N'1.632,00                                                                                            ', N'11.424,00                                                                                           ', N'1.371,43                                                                                            ', N'260,57                                                                                              ', N'11.424,00                                                                                           ', N'1.200,00                                                                                            ', N'8.400,00                                                                                            ', N'3.024,00                                                                                            ', N'11.424,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'hj                                                                                                  ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'5/03/2021                                                                                           ', N'5/03/2021                                                                                           ', N'Contado                                                                                             ', N'A1        ', N'17:33:08            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'24                                                                                                  ', N'0015                                                                                                ', 5, N'jm001                                                                                               ', N'Producto que aun no se                                                                              ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'Hornamentación                                                                                      ', N'ebanisteria                                                                                         ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'8/03/2021                                                                                           ', N'8/03/2021                                                                                           ', N'Contado                                                                                             ', N'A1        ', N'10:00:04            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'24                                                                                                  ', N'0015                                                                                                ', 6, N'cab002                                                                                              ', N'un cable que me estoy inventando                                                                    ', N'5.000,00                                                                                            ', N'30.000,00                                                                                           ', N'4.201,68                                                                                            ', N'798,32                                                                                              ', N'30.000,00                                                                                           ', N'1.000,00                                                                                            ', N'6.000,00                                                                                            ', N'24.000,00                                                                                           ', N'30.000,00                                                                                           ', N'Griferia                                                                                            ', N'Pasador aleman                                                                                      ', N'El que vende                                                                                        ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'8/03/2021                                                                                           ', N'8/03/2021                                                                                           ', N'Contado                                                                                             ', N'A2        ', N'10:00:04            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'24                                                                                                  ', N'0015                                                                                                ', 4, N'cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'8.800,00                                                                                            ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'8.800,00                                                                                            ', N'1.700,00                                                                                            ', N'6.800,00                                                                                            ', N'2.000,00                                                                                            ', N'8.800,00                                                                                            ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'8/03/2021                                                                                           ', N'8/03/2021                                                                                           ', N'Contado                                                                                             ', N'A1        ', N'10:00:04            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'25                                                                                                  ', N'002325                                                                                              ', 20, N'cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'44.000,00                                                                                           ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'44.000,00                                                                                           ', N'1.700,00                                                                                            ', N'34.000,00                                                                                           ', N'10.000,00                                                                                           ', N'44.000,00                                                                                           ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'123987                                                                                              ', N'P&B                                                                                                 ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'8/03/2021                                                                                           ', N'8/03/2021                                                                                           ', N'Contado                                                                                             ', N'A1        ', N'22:20:26            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'25                                                                                                  ', N'002325                                                                                              ', 40, N'jm001                                                                                               ', N'Producto que aun no se                                                                              ', N'2.300,00                                                                                            ', N'92.000,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'92.000,00                                                                                           ', N'1.700,00                                                                                            ', N'68.000,00                                                                                           ', N'24.000,00                                                                                           ', N'92.000,00                                                                                           ', N'Hornamentación                                                                                      ', N'ebanisteria                                                                                         ', N'niidea                                                                                              ', N'123987                                                                                              ', N'P&B                                                                                                 ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'8/03/2021                                                                                           ', N'8/03/2021                                                                                           ', N'Contado                                                                                             ', N'A1        ', N'22:20:26            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'12                                                                                                  ', N'1234567                                                                                             ', 5, N'jm001                                                                                               ', N'Producto que aun no se                                                                              ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'Hornamentación                                                                                      ', N'ebanisteria                                                                                         ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'bla                 ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'12                                                                                                  ', N'1234567                                                                                             ', 10, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'22.000,00                                                                                           ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'22.000,00                                                                                           ', N'1.700,00                                                                                            ', N'17.000,00                                                                                           ', N'5.000,00                                                                                            ', N'22.000,00                                                                                           ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'bla                 ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'12                                                                                                  ', N'1234567                                                                                             ', 4, N'nosequeponer                                                                                        ', N'no tengo idea de que poner                                                                          ', N'2.300,00                                                                                            ', N'9.200,00                                                                                            ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'9.200,00                                                                                            ', N'1.700,00                                                                                            ', N'6.800,00                                                                                            ', N'2.400,00                                                                                            ', N'9.200,00                                                                                            ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'bla                 ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'11                                                                                                  ', N'7654321                                                                                             ', 20, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'44.000,00                                                                                           ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'44.000,00                                                                                           ', N'1.700,00                                                                                            ', N'34.000,00                                                                                           ', N'10.000,00                                                                                           ', N'44.000,00                                                                                           ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'79635020                                                                                            ', N'William                                                                                             ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'12:14:16            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'11                                                                                                  ', N'7654321                                                                                             ', 4, N'tor001                                                                                              ', N'tornillo que me invente para la prueba                                                              ', N'2.300,00                                                                                            ', N'9.200,00                                                                                            ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'9.200,00                                                                                            ', N'1.700,00                                                                                            ', N'6.800,00                                                                                            ', N'2.400,00                                                                                            ', N'9.200,00                                                                                            ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'79635020                                                                                            ', N'William                                                                                             ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'12:14:17            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'11                                                                                                  ', N'7654321                                                                                             ', 5, N'cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'11.000,00                                                                                           ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'11.000,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'2.500,00                                                                                            ', N'11.000,00                                                                                           ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'79635020                                                                                            ', N'William                                                                                             ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'12:14:17            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'1                                                                                                   ', N'12345                                                                                               ', 5, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'11.000,00                                                                                           ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'11.000,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'2.500,00                                                                                            ', N'11.000,00                                                                                           ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'21:22:23            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'1                                                                                                   ', N'12345                                                                                               ', 5, N'EBA05                                                                                               ', N'pasador aleman induma 1 1/2 zincado                                                                 ', N'1.632,00                                                                                            ', N'8.160,00                                                                                            ', N'1.371,43                                                                                            ', N'260,57                                                                                              ', N'8.160,00                                                                                            ', N'1.200,00                                                                                            ', N'6.000,00                                                                                            ', N'2.160,00                                                                                            ', N'8.160,00                                                                                            ', N'                                                                                                    ', N'                                                                                                    ', N'hj                                                                                                  ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'21:22:23            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'1                                                                                                   ', N'12345                                                                                               ', 5, N'nosequeponer                                                                                        ', N'no tengo idea de que poner                                                                          ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'21:22:23            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'1                                                                                                   ', N'12345                                                                                               ', 5, N'Tor001                                                                                              ', N'tornillo que me invente para la prueba                                                              ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'21:22:24            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'1                                                                                                   ', N'12345                                                                                               ', 5, N'tor002                                                                                              ', N'Otro tornillo que me invente                                                                        ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'21:22:24            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'1                                                                                                   ', N'12345                                                                                               ', 5, N'Tor003                                                                                              ', N'Otro tornillo mas que me invente                                                                    ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'21:22:24            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'1                                                                                                   ', N'12345                                                                                               ', 5, N'jm001                                                                                               ', N'Producto que aun no se                                                                              ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'Hornamentación                                                                                      ', N'ebanisteria                                                                                         ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'21:22:24            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'6                                                                                                   ', N'123456                                                                                              ', 62, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'136.400,00                                                                                          ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'136.400,00                                                                                          ', N'1.700,00                                                                                            ', N'105.400,00                                                                                          ', N'31.000,00                                                                                           ', N'136.400,00                                                                                          ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'09:05:59            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'7                                                                                                   ', N'                                                                                                    ', 5, N'Cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'11.000,00                                                                                           ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'11.000,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'2.500,00                                                                                            ', N'11.000,00                                                                                           ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'09:09:49            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'7                                                                                                   ', N'                                                                                                    ', 5, N'EBA05                                                                                               ', N'pasador aleman induma 1 1/2 zincado                                                                 ', N'1.632,00                                                                                            ', N'8.160,00                                                                                            ', N'1.371,43                                                                                            ', N'260,57                                                                                              ', N'8.160,00                                                                                            ', N'1.200,00                                                                                            ', N'6.000,00                                                                                            ', N'2.160,00                                                                                            ', N'8.160,00                                                                                            ', N'                                                                                                    ', N'                                                                                                    ', N'hj                                                                                                  ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'09:09:49            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'7                                                                                                   ', N'                                                                                                    ', 5, N'nosequeponer                                                                                        ', N'no tengo idea de que poner                                                                          ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'09:09:49            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'7                                                                                                   ', N'                                                                                                    ', 5, N'Tor001                                                                                              ', N'tornillo que me invente para la prueba                                                              ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'09:09:49            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'7                                                                                                   ', N'                                                                                                    ', 5, N'tor002                                                                                              ', N'Otro tornillo que me invente                                                                        ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'09:09:49            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'7                                                                                                   ', N'                                                                                                    ', 5, N'Tor003                                                                                              ', N'Otro tornillo mas que me invente                                                                    ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'09:09:49            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'7                                                                                                   ', N'                                                                                                    ', 5, N'jm001                                                                                               ', N'Producto que aun no se                                                                              ', N'2.300,00                                                                                            ', N'11.500,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'11.500,00                                                                                           ', N'1.700,00                                                                                            ', N'8.500,00                                                                                            ', N'3.000,00                                                                                            ', N'11.500,00                                                                                           ', N'Hornamentación                                                                                      ', N'ebanisteria                                                                                         ', N'niidea                                                                                              ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'19/02/2021                                                                                          ', N'19/02/2021                                                                                          ', N'Contado                                                                                             ', NULL, N'09:09:49            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'22                                                                                                  ', N'220022                                                                                              ', 3, N'cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'6.600,00                                                                                            ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'6.600,00                                                                                            ', N'1.700,00                                                                                            ', N'5.100,00                                                                                            ', N'1.500,00                                                                                            ', N'6.600,00                                                                                            ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'5/03/2021                                                                                           ', N'5/03/2021                                                                                           ', N'Contado                                                                                             ', N'A1        ', N'17:27:12            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'22                                                                                                  ', N'220022                                                                                              ', 7, N'EBA05                                                                                               ', N'pasador aleman induma 1 1/2 zincado                                                                 ', N'1.632,00                                                                                            ', N'11.424,00                                                                                           ', N'1.371,43                                                                                            ', N'260,57                                                                                              ', N'11.424,00                                                                                           ', N'1.200,00                                                                                            ', N'8.400,00                                                                                            ', N'3.024,00                                                                                            ', N'11.424,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'hj                                                                                                  ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'5/03/2021                                                                                           ', N'5/03/2021                                                                                           ', N'Contado                                                                                             ', N'A1        ', N'17:27:13            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'22                                                                                                  ', N'220022                                                                                              ', 10, N'Tor001                                                                                              ', N'tornillo que me invente para la prueba                                                              ', N'2.300,00                                                                                            ', N'23.000,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'23.000,00                                                                                           ', N'1.700,00                                                                                            ', N'17.000,00                                                                                           ', N'6.000,00                                                                                            ', N'23.000,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'5/03/2021                                                                                           ', N'5/03/2021                                                                                           ', N'Contado                                                                                             ', N'          ', N'17:27:13            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'25                                                                                                  ', N'002325                                                                                              ', 5, N'EBA05                                                                                               ', N'pasador aleman induma 1 1/2 zincado                                                                 ', N'1.632,00                                                                                            ', N'8.160,00                                                                                            ', N'1.371,43                                                                                            ', N'260,57                                                                                              ', N'8.160,00                                                                                            ', N'1.200,00                                                                                            ', N'6.000,00                                                                                            ', N'2.160,00                                                                                            ', N'8.160,00                                                                                            ', N'                                                                                                    ', N'                                                                                                    ', N'hj                                                                                                  ', N'123987                                                                                              ', N'P&B                                                                                                 ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'8/03/2021                                                                                           ', N'8/03/2021                                                                                           ', N'Contado                                                                                             ', N'A1        ', N'22:20:27            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'32                                                                                                  ', N'001                                                                                                 ', 11, N'nosequeponer                                                                                        ', N'no tengo idea de que poner                                                                          ', N'2.300,00                                                                                            ', N'25.300,00                                                                                           ', N'1.932,77                                                                                            ', N'367,23                                                                                              ', N'25.300,00                                                                                           ', N'1.700,00                                                                                            ', N'18.700,00                                                                                           ', N'6.600,00                                                                                            ', N'25.300,00                                                                                           ', N'                                                                                                    ', N'                                                                                                    ', N'                                                                                                    ', N'12345678                                                                                            ', N'quien sabe                                                                                          ', N'1022982305                                                                                          ', N'Genesis Paola                                                                                       ', N'15/03/2021                                                                                          ', N'15/03/2021                                                                                          ', N'Contado                                                                                             ', N'          ', N'19:42:03            ')
INSERT [dbo].[TablaDeIngresados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora]) VALUES (N'42                                                                                                  ', N'004                                                                                                 ', 10, N'cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'22.000,00                                                                                           ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'22.000,00                                                                                           ', N'1.700,00                                                                                            ', N'17.000,00                                                                                           ', N'5.000,00                                                                                            ', N'22.000,00                                                                                           ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'                                                                                                    ', N'                                                                                                    ', N'16/03/2021                                                                                          ', N'16/03/2021                                                                                          ', N'Contado                                                                                             ', N'A1        ', N'17:20:40            ')
GO

# [dbo].[Ubicaciones]

In [0]:
INSERT [dbo].[Ubicaciones] ([Ubicación]) VALUES (N'A1        ')
INSERT [dbo].[Ubicaciones] ([Ubicación]) VALUES (N'A2        ')
GO

# [dbo].[Verificados]

In [0]:
INSERT [dbo].[Verificados] ([NDePedido], [ODePedido], [Cantidad], [Codigo], [Descripción], [VrUnitario], [VrTotal], [VrUnitarioIVA], [IVA], [VrTotalIVA], [Costo], [CostoTotal], [Ganancia], [Porcentaje], [Categoria], [SubCategoria], [Proveedor], [CodCliente], [Cliente], [CodColaborador], [Colaborador], [FechaOPedido], [FechaEntrega], [TipoDePago], [Ubicación], [Hora], [Estado], [ConOSinIVA]) VALUES (N'42                                                                                                  ', N'004                                                                                                 ', 15, N'cin002                                                                                              ', N'Cinta que me invente para la prueba                                                                 ', N'2.200,00                                                                                            ', N'33.000,00                                                                                           ', N'1.848,74                                                                                            ', N'351,26                                                                                              ', N'33.000,00                                                                                           ', N'1.700,00                                                                                            ', N'25.500,00                                                                                           ', N'7.500,00                                                                                            ', N'33.000,00                                                                                           ', N'Tornilleria                                                                                         ', N'Madera                                                                                              ', N'niidea                                                                                              ', N'12345                                                                                               ', N'La Fortaleza                                                                                        ', N'                                                                                                    ', N'                                                                                                    ', N'16/03/2021                                                                                          ', N'16/03/2021                                                                                          ', N'Contado                                                                                             ', N'A1        ', N'17:50:02            ', N'F         ', N'T         ')
GO

# [programaembd]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [programaembd] SET  READ_WRITE 
GO